@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
    --primary-dark: #30A1F0;
    --primary-light: #95dcf4;
    --secondary-dark: #E8BE4C;
    --secondary-light: #E8D682;
    --accent-color: ;
    --dark-shade: #2A3439 ;
    --light-shade: #a5bbc0 ;
    --white-shade: #F9F9FB;
    --button-color: #3EEF2E;

}

.swiper-button-next {
    color: whitesmoke;
    font-weight: 300;
}
.swiper-button-prev {
    color: whitesmoke;
    font-weight: 300;
}

.swiper-image{
    height: 100%;
    overflow-x: hidden;
}
