@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
    --primary-dark: #0D69AB;
    --primary-light: #C3E4FB;
    --secondary-dark: #E8BE4C;
    --secondary-light: #F7F0D2;
    --accent-color: #EF7F2E;
    --dark-shade: #2A3439 ;
    --light-shade: #C1CDD7;
    --white-shade: #F9F9FB;
    --button-color: #3EEF2E;
    --logo: 'Hubballi';

}

.swiper-button-next {
    color: whitesmoke;
    font-weight: 300;
}
.swiper-button-prev {
    color: whitesmoke;
    font-weight: 300;
}

.swiper-image{
    height: 100%;
    overflow-x: hidden;
}
